body {
    font-family: Arial;
    padding: 2%;
    background: white !important;
    color: rgb(10, 1, 1);
    width: 95%
  }
  
  /* hover first letter */
  p:hover:first-letter {
    color: white;
    font-size: 80px;
    text-shadow: 2px 2px black;
  }
  
  /* Header/Blog Title */
  header {
    padding: 5%;
    font-size: 40px;
    text-align: center center;
    margin-left: auto;
    margin-right: auto;
    background-color: #aaa;
    display: grid;
    grid-template-columns: 48% 48%;
    width: 60%;
    border-radius: 50%
  }

  h1 {
    color: rgb(24, 22, 22);

  }

  span {
    font: 1em sans-serif;
    font-size: 50%;
  }

  /* make profile pic and h1 side by side in header */
  .profilepic {
    grid-column: 1/2;
    height: 100%;
    width: 99%;
    border-radius: 50%;
  }

  .title {
    grid-column: 2/2
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn { 
    float: left;
    width: 15%;
    padding-left: 2%;
    padding-top: 2%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 80%;
    padding-left: 2%;
  }
  
  /* Fake image */
  img {
    background-color: rgb(117, 195, 247);
    width: 99%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color:  rgb(117, 195, 247);
    padding: 2%;
    margin-top: 2%;
    border-radius: 5%;
    border: 5px solid #aaa;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn { 
      width: 95%;
      padding: 0;
    }
  }
  
  /* Extra Small and up (Portrait Phones) */
  
  /* Small and up (Landscape Phones) */
  @media (min-width: 576px) {
  
  }
  
  /* Medium and up (Tablets) */
  @media (min-width: 768px) {
  
  }
  
  /* Large and up (Desktops) */
  @media (min-width: 992px) {
  
  }
  
  /* Extra Large and up (Wide Screen Desktops) */
  @media (min-width: 1200px) {
  
  }