* {
    box-sizing: border-box;
  }

body {
    background: firebrick;
    background-image: url(../images/floor.jpg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
}

h2 {
    color: firebrick;
    font-size: 120%;
}

.title {
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-between;
    padding: 1%;
    background-color: whitesmoke;
}

.link {
    padding: 1%;
}

.name {
    font-size: 99%;
    text-align: center;
    font-size: 110%;
    color: red;
}

.links {
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-between;
}

.mainBarber {
    display: grid;
    
    grid-template-areas:
        'services'
        'ad'
    }

.ad{
    grid-area: ad;
    text-align: center;
    color: black;
    list-style: circle inside url(../images/mustache.jpg);

    line-height: 150%;
}

.services {
    grid-area: services;
    display: grid;
    grid-template-areas:
        'cuts wax'
        'shaves shaves'
}

.shaves {
    grid-area: shaves;
    background-image: url(../images/razor.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2%;
    padding: 0 1% 0 25%;
    width: 90%;
}

.cuts {
    grid-area: cuts;
    text-align: center;
}

.wax {
    grid-area: wax;
    text-align: center;
    }

.contact {
    background-color: white;
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-between;
    padding: 1%;
}


@media only screen and (min-width: 46.875em) {

}

@media only screen and (min-width: 65.625em) {
    body {
        background-image: url(../images/haircut.jpg);
        background-size: contain;
        background-blend-mode: lighten;
        color: royalblue;
    }

    .title {
        background-image: url(../images/mustache.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 16%;
    }

    .name {
        color: black;
        padding: .5% 2% .5% 2%;
        background-color: rgb(252, 104, 99);
        font-size: 200%;
        font-family: cursive;
        text-decoration: wavy underline;
        width: 20%;
    }

    .services {
        padding-bottom: 2rem;
        grid-template-areas:
            'shaves shaves'
            'cuts wax'
    }

    .cuts {
        color: yellow;
        font-size: 270%;
    }

    .cuts h2 {
        color: midnightblue;
    }

    .wax {
        color:yellow;
        font-size: 245%;
    }

    .wax h2 {
        color: olivedrab;
        font-size: 160%;
    }

    .shaves {
        color: black;
        background-color:slategray;
        font-size: 190%;
        border: 1rem solid black;
    }

    .ad {
        list-style-image: none;
        list-style: none;
        text-align: unset;
        margin: 0 0 0 40%;
    }

    .ad li {
        font-size: 200%;
        line-height: 300%;
    }

    .ad h2 {
        color: blue;
        font-size: 250%;
    }

    .address {
        background-image: url(../images/mustache.jpg);
        background-repeat: no-repeat;
        background-position: right top;
        background-size: 20%;
        width: 25%;
        font-size: 200%;
    }

    .email {
        background-image: url(../images/mustache.jpg);
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: 30%;
        text-align: right;
        width: 25%;
        font-size: 150%;
    }

    .invite {
        background-image: url(../images/mustache.jpg);
        background-repeat: no-repeat;
        background-position: left;
        background-size: 15%;
        text-align: right;
        width: 25%;
        font-size: 150%;
    }

    

    
}